@media screen and (min-width: 768px) {
    body {
    font-family: var(--body-font);
    background-color: var(--accent1);
    color: var(--accent2);
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
    main {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;
    }
    .guiria-menu{
    
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
  
    }
    nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--accent1);
    font-size: 1.1rem;
    width: 120px;
    text-decoration: none;
    border-radius: 5px;

    }
    nav a:hover{
        transform: scale(1.05);
        transition: transform 0.2s ease-in-out;
        background-color: var(--secondary-color);
        border: 1px solid var(--accent2);
    }

    button{
    display: none;
    }
    .grid-rest{
        max-width: 1000px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        padding: 20px;
    }
    .modal-img{
    max-width: 40%;
    height: 700px;
    border-radius: 8px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.5);
    }

}