:root {
    --primary-color: #05b3f8;
    --secondary-color:  #b7d0da;
    --title-color: #0e1318;
    --font-family: "Roboto", sans-serif;
    --accent1-color: #f1f7fa;
    --hover-color: #baf3eb;
    --font-size: 16px;
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: var(--font-family);
    background-color: #f4f4f4;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

header{
    background-color: var(--primary-color);
    color: var(--accent1-color);
    padding: 20px;
    text-align: center;
    width: 100%;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  
}
h1{

    color: var(--accent1-color);
    font-size: 32px;
    margin-top: 20px;
    margin-bottom: 20px;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;


}
picture{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-color);
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    border-top: 5px solid var(--secondary-color);

}

.data{

    padding: 1rem;
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.data-list{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 8px;
    text-align: left;
    margin:0 auto; 
}

.data-list dt{
    font-weight: bold;
    text-align: right;
}

.data-list dd{
    margin: 0;
    text-align: left;
}

.weather{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    padding: 1rem;
    background-color: var(--secondary-color);

}
.weather-list{
    display: grid;
    grid-template-columns:  1fr auto;
    gap: 8px;
    text-align: left;
    margin:0 auto; 
}

.weather-list dt{
    font-weight: bold;
    text-align: right;
}
.weather-list dd{
    margin: 0;
    text-align: left;
}

footer{
    background-color: var(--primary-color);
    color: var(--accent1-color);
    padding: 20px;
    text-align: center;
    width: 100%;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}